input {
    border-radius: 20px;
    height:3vh;
    width: 20vw;
    margin: 1vh 1vw;
}

textarea {
    border-radius: 20px;
    height:10vh;
    width: 20vw;
    margin: 1vh 1vw;
}

#submit {
    color: white;
    background-color: aqua;
}

#contact-us {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 100%;
    margin: 20px;
}